*{
  margin: 0;
}

/* .carousel-section start */
.bg-shadow:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
  .carousel-caption{
    top: 60%;
    transform: translateY(-50%);
  }
.img-size{
    width: 130px;
    height: 700px;
    object-fit: cover;
}
  /* .carousel-section start */

  /* course section start */

  /* course section end */
  /* <!-- ready to join section starts here --> */
  .ready-join-container{
    height: 200px;

  }

@media screen and (max-width:790px){
  .ready-join-container{
    margin-left: 0 !important;
    margin-right: 15px !important;
  }
}

@media screen and (max-width:670px){
  .ready-join-container{
    margin-left: 0 !important;
    margin-right: 5px !important;
  }
  .ready-title-lg{
    font-size: 20px !important;
  }
  .ready-title-sm{
    font-size: 12px !important;
  }
}

.footer{
  height: 472px;
}
.trusted{
  width: 85%;
}